mat-card{
    background-color:#F2F2F2;  
  }
  
  mat-form-field {
    width: 25.2em;
  }
  
  mat-raised-button{
    background-color:#000000;
  }
  
  .center{
      width: 75%;
      margin: 10px auto;
    }
    
  .main-div{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  a {
    cursor: pointer;
    color: none;
    text-decoration: none;
    border-bottom: 1px solid #ff2e88;
  }