.green-message{
    background-color: lightgreen !important;
    color:white;max-width: 80%;
    margin-left:20%;
}

.white-message{
    background-color: white !important;
    max-width: 95%;
    margin-left:5%;
}

.ion-color-newcolor {
    --ion-color-base: #224068;
    --ion-color-contrast: #56b4d3;
  }