<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/matrix.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Chatbox</ion-card-subtitle>
        <ion-card-title>Bem vindo ao Chatbox</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aproveite todas as funções do sistema que vai revolucionar o mundo -- Tijolinho.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <br><br><br>
      <ion-list-header>
        <ion-label><h1>Categorias</h1></ion-label>
      </ion-list-header>

      <app-categoria-list></app-categoria-list>

      <button ion-fab color="primary" [routerLink]="['/categoria-add']">Add</button>
    </ion-list>
</ion-content>
