<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Listagem de Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <div *ngFor="let item of items">
          <ion-card>
              <ion-item>
                <ion-avatar item-start>
                  <img [src]="item.icon" (click)="show()" />
                </ion-avatar>
                <h2>{{item.title}}</h2>
              </ion-item>
              
              <ion-card-content>
                  <p>XD</p>
              </ion-card-content>
          </ion-card>
      </div>
  </ion-list>
</ion-content>
